Package: gperf-dbgsym
Source: gperf
Version: 3.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Hilko Bengen <bengen@debian.org>
Installed-Size: 100
Depends: gperf (= 3.1-1)
Section: debug
Priority: optional
Description: debug symbols for gperf
Build-Ids: 4d6df33b5dc577d129d6c70e90942d2f26cfc3d2
